:root {
    --bd-button: #f0f0f0;
    --border-button: solid 1px rgb(109, 109, 109);
}

.buttonEntrar button {
    width: 100px;
    height: 40px;
    background-color: rgb(105, 105, 143);
    border: none;
    border-radius: 20px;
    color: #f0f0f0;
    font-size: 17px;
}

.button {
    font-size: 1.4rem;
    background-color: var(--bd-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
}

.button:hover {
    background-color: #ccc;
}

.button.double {
    grid-column: span 2;
}

.button.triple {
    grid-column: span 2;
}

.button.clear {
    color: red;
}

.button.color {
    color: rgb(26, 138, 16);
}

.button.operation:active {
    background-color: #fa8231cc;
}

.button.ground {
    background-color: rgb(26, 138, 16);
    color: #FFF;
}