.display {
    display: grid;
    background-color: #000c;
    grid-column: 4 span;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    font-size: 2.1em;
    overflow: hidden;
    color: #fff;
}